base-color = #fff #ababab #e5e5e5 #f5f5f5
main-color = #e8c135
accent-color = #b2871a #daa520
string-color = #000

*
    margin 0
    padding 0
    color string-color

a
    text-decoration none

.address
    & > .telphone
        font-size 22pt

#company_infomation
    background-color base-color[0]
    padding 10px 10px
    border-bottom solid 3px main-color
    & > .address
        & > p
            text-align right

#logo
    font-size 22px
    font-weight bold

header
    border-top solid 3px main-color
    background-color main-color

#main_titile
    & > h1
        margin-left 10px
        padding-left 20px
        padding-top 10px
        padding-bottom 10px
        line-height 2em
        background url("pageTit_bg.png") left 50% no-repeat

.top_menu_label
    height 2.5em
    line-height 2.5em
    font-weight bold
    background linear-gradient(to bottom, accent-color[0] 0%, accent-color[1]  100%)
    box-shadow 0px 1px 3px 0px rgba(0,0,0,0.75)
    padding-left 20px

.global_nav
    & > ul
        list-style-type none
        & > li
            border-top 1px solid base-color[2]
            background-color base-color[0]
            &:hover
                & > a
                    color base-color[0]
        & > li#current
            background linear-gradient(to bottom, main-color 0%, base-color[0]  100%)
            box-shadow 0px 1px 3px 0px rgba(0,0,0,0.75)
            & > a
                color base-color[0]
    li
        a
            height 2.5em
            line-height 2.5em
            font-weight bold
            padding-left 20px
    ul
        li
            &:hover
                border-top 1px solid accent-color[1]
                background linear-gradient(to bottom, accent-color[0] 0%, accent-color[1]  100%)

.dropdown-content
    list-style none
    background-color base-color[0]
    width 100%
    & > li
        border-top 1px solid base-color[1]
        &:hover
            & > a
                color white
    li
        a
            padding-left 40px

#bread
    background-color base-color[1]
    border-bottom 1px solid base-color[1]
    ul
        list-style-type none
        padding 20px 10px
        li
            display block
            &:after
                content ">"
                padding 0px 10px
            &:last-child
                &:after
                    content ""

main
    background-color base-color[0]
    border-bottom solid 3px base-color[0]
    h2
        border-top solid 3px main-color
        border-left solid 1px base-color[1]
        border-right solid 1px base-color[1]
        border-bottom solid 1px base-color[1]
        line-height 2em
        padding-left 20px
    h3
        border-left solid 3px main-color
        padding-left 10px
        line-height 1.5em
    & > div
        margin 10px
    li
        margin-left 20px
        line-height 1.5em
    table
        border-collapse collapse
    th
        background-color #eee
        border 1px solid base-color[1]
        padding 10px
        line-height 1.5em
    td
        border 1px solid base-color[1]
        padding 10px
        line-height 1.5em
    p
        word-wrap break-word
    #contact
        border-style solid
        border-width 6px
        border-image url(bg_slash.png) 6 round
        background-color base-color[3]
        outline solid 1px base-color[1]
        padding 10px
        display table
        width 100%

main
    iframe,p,table,img
        margin 10px
    img
        object-fit contain

#contact
    & > .address
        display table-cell
        width 40%
    & > .query_button
        border-style solid
        border-width 6px
        border-color base-color[0]
        background-color main-color
        outline solid 1px base-color[1]
        display table-cell
        text-align center
        vertical-align middle
        width 60%

.sidenav
    list-style-type none
    li
        border-bottom solid 1px base-color[1]
        line-height 1.5em
        padding 10px
        margin 0px
        &:hover
            background-color base-color[1]
    li#sub_current
        background-color base-color[1]
    a,del
        background url("./icon_arrow1_gray.gif") 10px 50% no-repeat
        display block

.rss-items
    list-style-type none
    li
        border-bottom solid 1px base-color[1]
        line-height 1.5em
        padding 10px
        margin 0px
        display flex
        &:hover
            background-color base-color[1]
        span
            align-self: center
        *
            color base-color[1]

footer
    border-top solid 20px main-color
    padding 10px 10px
    color base-color[1]
    background-color black
    height 200px
    #copyright
        text-align center
    *
        color base-color[1]

#lang_switch
    list-style-type none
    li
        a
            background url("./icon_arrow1_gray.gif") 10px 50% no-repeat
            padding 13px 5px 11px 25px

@media screen and (max-width: 768px)
	h1
	    font-size 18px
	    font-weight bold

@media screen and (min-width: 769px)
    html
        background-image url("./c.gif")
    #company_infomation
        align-items center
        justify-content center
    .top_menu_label
        display none
    .global_nav
        & > ul
            background linear-gradient(to bottom, base-color[2] 0%, base-color[0] 50%)
            & > li
                border-left solid 1px base-color[1]
                background linear-gradient(to bottom, base-color[2] 0%, base-color[0] 50%)
                &:last-child
                    border-right solid 1px base-color[1]
    .dropdown-content
        box-shadow 1px 1px 3px rgba(0,0,0,0.2)
