- res = get_resouce()
#copyright
	p
		a(href=`${res.company_info.about_page_url}`) #{res.company_info.about_page_title}
	p copy right #{config.author}
	p Powered by WordPress & BizVektor Theme by Vektor,Inc. technology.
	p Used by 
		a(href='http://www.irasutoya.com/p/terms.html') いらすとや
