# 認証しないと見れないようにするには以下をコメントアウトする
# RewriteCond %{REQUEST_URI} !/auth(.*) [NC]
# RewriteCond %{REQUEST_URI} !/css(.*) [NC]
# RewriteCond %{REQUEST_URI} !/script(.*) [NC]
# RewriteCond %{REQUEST_URI} !/image/auth(.*) [NC]
# RewriteCond %{QUERY_STRING} (?:^|&)authed=true [NC]
# RewriteCond %{HTTP_COOKIE} !auth=true [NC]
# oauthで認証を行う場合
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/auth/index.php?jmp=%{REQUEST_URI} [R=301,L]
# 一定年齢以上は見れるようにする場合
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/auth/index.html?jmp=%{REQUEST_URI} [R=301,L]

